@charset "utf-8";

body {
	background-color: #ffffff;
	background-image: url();
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border:none;
	
}

td {font-family:dotum; font-size:9pt; color:#808080}
textarea,input {font-family:dotum; font-size:9pt; color:#505050; height:16px; background-color:; border:1px solid #dfdfdf;}

/* Text */
.locacion { text-align:right; font-size:11px; color:#aeb2b8; vertical-align:bottom; padding-bottom:5px}
.red { color:#ea002c}
.orange { color:#f58026}
.bold { font-weight:bold}
.idpwFind { background:#ffffff url(../images/bullet_red.gif) no-repeat left top; height:20px; font-size:11px; padding-left:10px; text-align:left;}
.hisNum { font-size:13px; color:#000000; font-weight:bold; padding:3px 0 0 3px;}
.helpDesk { line-height:20px; padding:0 20px 0 20px;}

/* Title */
.subTitle01 {color: #333; font-size:12px; height:18px; line-height:18px; padding-left:15px; background-image:url(../images/bullet_box.gif); background-repeat:no-repeat;}
.notice_txt01 {color: #333; font-size:11px; height:18px; line-height:18px; padding-left:15px; background-image:url(../images/bullet_notice.gif); background-repeat:no-repeat;}
.notice_ex {color: #333; font-size:11px; height:18px; line-height:18px; padding-left:27px; background-image:url(../images/bullet_ex.gif); background-repeat:no-repeat; background-position:0 2px;}

/* Space */
.space5 { width:5px; height:5px;}

/* Link */
a {text-decoration:none; font-family:dotum; font-size:9pt; color:#808080; outline:none; select-dummy: expression(this.hideFocus=true);}
a:hover, a:active {color:#333; text-decoration:none}

/*
.text_id { background:#f0f0f0 url(../images/index_login_img_02_txt.gif) no-repeat left top; height:20px; border:0px solid #aeaeae; font-family:dotum; font-size:9pt; color:#505050; width:74px; line-height:20px}
.text_pw { background:#f0f0f0 url(../images/index_login_img_04_txt.gif) no-repeat left top; height:20px; border:0px solid #aeaeae; font-family:dotum; font-size:9pt; color:#505050; width:73px; line-height:20px}
*/
.text_id { background:#f0f0f0 no-repeat left top; height:20px; border:0px solid #aeaeae; font-family:dotum; font-size:9pt; color:#505050; width:74px; line-height:20px}
.text_pw { background:#f0f0f0 no-repeat left top; height:20px; border:0px solid #aeaeae; font-family:dotum; font-size:9pt; color:#505050; width:73px; line-height:20px}

/* table */
.table_top_line {background-color:#f47726; height:2px}
.table_bottom_line {background-color:#f47726; height:1px}
.table_middle_line {background-color:#e1e1e1; height:1px}
.table_td_subject {background-color:#f9f1ee; font-weight:; text-align:left; height:20px; padding-top:4px; font-size:12px;}
.table_td_subject2 {background-color:#fbebef; font-weight:; text-align:center; height:20px; padding-top:4px; font-size:12px;}
.table_td_subject4 {background-color:#f9f9f9; padding-left:0px; }

.table_td_contents {background-color:#ffffff; padding-left:10px; padding-top:3px; padding-bottom:3px; font-size:12px; height:18px; line-height:18px; text-align:left;}

.table_td_split {width:1px}
.table_td_split2 {width:1px; background-color:#e1e1e1}
.table_td_split3 {height:1px; background-color:#e1e1e1}

/* iframe */
.iframe {border:1px solid #aeaeae; padding:5px 5px 5px 5px;}

/* bbs */
.bbs_td_subject {padding:5px 5px 5px 5px; text-align:left; color:#666666; background-color:#FAFAFA; font-size:11px; font-weight:bold; height:25px; line-height:25px}
.bbs_td_subject2 {padding:5px 5px 5px 5px; text-align:center; color:#666666; background-color:#FAFAFA; font-size:11px; font-weight:bold; height:25px; line-height:25px}
.bbs_td_subject3 {padding:5px 5px 5px 5px; text-align:left; color:#666666; background-color:#FAFAFA; font-size:11px; font-weight:none; height:25px; line-height:25px}
.bbs_td_subject4 {padding:5px 5px 5px 5px; text-align:right; color:#666666; background-color:#FAFAFA; font-size:11px; font-weight:bold; height:25px; line-height:25px}
.bbs_td_contents1 {padding:3px 5px 3px 5px; background-color:#ffffff; text-align:left; height:20px; line-height:20px}
.bbs_td_contents2 {padding:3px 5px 3px 5px; background-color:#ffffff; text-align:center; height:20px; line-height:20px}
.bbs_td_contents3 {padding:10px 10px 10px 10px; background-color:#ffffff; text-align:left;}
.bbs_search {text-align:right; height:30px; line-height:30px}
.bbs_btn_area {text-align:right; height:50px; line-height:50px}
.bbs_paging {text-align:center; height:40px; line-height:40px}
.paging a {color:#9e9e9e; font-size:12px}
.paging a.on {color:#f47726; font-weight:bold}
.paging a:hover {color:#818181}
.paging a span {text-align:center; padding:0 5px; vertical-align:middle; display:inline-block}

/* FORM */
select {font-family:dotum; font-size:9pt; color:#838383; height:20px; vertical-align:middle; border:1px solid #c2c2c2;}
.select {font-family:dotum; font-size:9pt; color:#505050; height:20px; vertical-align:middle}
.input_text {height:18px; background-color:#ffffff; border:1px solid #dfdfdf; font-family:dotum; font-size:9pt; color:#505050;}
.input_none {height:18px; background-color:#ffffff; border:0px solid #dfdfdf; font-family:dotum; font-size:9pt; color:#505050; vertical-align:-4px; }