/* CSS Document */

body {margin-top:10px; margin-left:0px; margin-bottom:10px; margin-right:0px; background-color:#c8c8c8; background-image:url(images/FR/bg_top.gif); background-repeat:repeat-x}
.popbody {margin-top:10px; margin-left:10px; margin-bottom:10px; margin-right:10px; background-image:url(/images/SBS/FR/bg_top.gif) ;background-color:#c8c8c8; background-repeat:repeat-x; background-position:center 1000px}
td,textarea,input {font-family:dotum; font-size:9pt; color:#505050}
textarea {background-color:#f7f7f7; border:1px solid #aeaeae}
.footer {height:38px; }
.table_contents_height {height:500px; background-color:#ffffff; vertical-align:top}

/* Title */
.ptitle {font-size:15px; font-weight:bold; letter-spacing:-1px; color:#2f68a8; padding-top:1px; padding:1px 0 0 1px;}
.stitle {font-weight:bold}
.bullet_stitle {margin-top:9px; margin-left:5px}
.bullet_stitle2 {margin-top:10px; margin-left:5px}
.bullet_stitle3 {margin-top:3px}
.bold {font-weight:bold}
.tight {letter-spacing:-1px}
.8pt {font-size:8pt}
.dotum {font-family:dotum}
.point {color:#F26522}
.blue {color: #09638F}
.blue2 {color: #3687EE}
.gray {color: #9e9e9e}
.orange {color: #FF6600}
.tip {font-size:9pt; color:#2787B6; padding-left:10px}
.moneyGuide {font-family:dotum; font-size:8pt; font-weight:normal; letter-spacing:-1px; color: #2787B6}
.imgborder {border:1px solid silver; marg
in-right:5px}
.money_align {text-align:right}
.normal {font-weight:normal}
.popup_title {font-size:14px; color:#FFFFFF; font-weight:bold; padding-bottom:3px}
.part1 {padding-top:8px}
.part2 {padding-top:12px}
.subbar {color:#AEAEAE; padding-left:26px; ; padding-right:26px; vertical-align:top; padding-top:5px; text-align:left; line-height:20px}
.border1 {border:1px solid #C8C8C8}
.date {font-size:11px; color:#FFFFFF; font-weight:bold; text-align:center; line-height:20px}

/* Link */
a {text-decoration:none; font-family:dotum; font-size:9pt; color:#3366FF}
a:hover {text-decoration:none; font-family:dotum; font-size:9pt; color:#FF3300}

a, area {blr:expression(this.onFocus=this.blur())}
 :focus {-moz-outline-style:none;}

a.sort {text-decoration:none; font-family:dotum; font-size:9pt; color:#505050}
a.sort:hover {text-decoration:underline; font-family:dotum; font-size:9pt; color:#505050}

a.selected{text-decoration:none; font-family:dotum; font-size:9pt; color:#505050}
a.selected:hover{text-decoration:none; font-family:dotum; font-size:9pt; color:#505050}

a.sub {text-decoration:none; font-family:dotum; font-size:9pt; color:#2787B6}
a.sub:hover {text-decoration:none; font-family:dotum; font-size:9pt; color:#505050}

a.goods {text-decoration:none; font-family:dotum; font-size:9pt; color:#3280cc}
a.goods:hover {text-decoration:underline; font-family:dotum; font-size:9pt; color:#3280cc}

a.bbs {text-decoration:none; font-family:dotum; font-size:9pt; color:#505050}
a.bbs:hover {text-decoration:none; font-family:dotum; font-size:9pt; color:#3280cc}

a.top {text-decoration:none; font-weight:bold; font-family:dotum; font-size:9pt; color:#ef7305}
a.top:hover {text-decoration:underline; font-family:dotum; font-size:9pt; color:#ef7305}

a.category{text-decoration:none; font-family:dotum; font-size:9pt; color:#505050}
a.category:hover{text-decoration:none; font-family:dotum; font-size:9pt; color:#328ada}

a.categoryOn{text-decoration:none; font-family:dotum; font-size:9pt; font-weight:bold; color:#518ad0}
a.categoryOn:hover{text-decoration:none; font-family:dotum; font-size:9pt; color:#42576d}

/* Table */
.table_top_line {background-color:#1d8abe; height:2px}
.table_td_subject {background-color:#dbeaf7; font-weight:bold; padding-left:20px; padding-right:20px; height:25px; padding-top:4px}
.table_td_subject_gr {background-color:#dbeaf7; font-weight:bold; padding-left:5px; padding-right:5px; height:25px; padding-top:4px}
.table_td_subject6 {background-color:#dbeaf7; font-weight:bold; padding-left:20px; padding-right:20px;}
.table_td_subject2 {background-color:#dbeaf7; font-weight:bold; padding-left:5px; padding-right:5px; height:25px; padding-top:4px; text-align:center}
.table_td_subject2_gr {background-color:#dbeaf7; font-weight:bold; padding-left:1px; padding-right:1px; height:25px; padding-top:2px; text-align:center}
.table_td_subject8 {background-color:#dbeaf7; font-weight:bold; padding-left:17px; padding-right:5px; height:25px; padding-top:4px;}
.table_td_subject7 {background-color:#E6E6E6; font-weight:bold; padding-left:5px; padding-right:5px; height:25px; padding-top:4px; text-align:center}
.table_td_subject5 {background-color:#dbeaf7; font-weight:bold; padding-left:10px; padding-right:10px; height:25px; padding-top:4px}
.table_td_subject4 {background-color:#dbeaf7; text-align:center; padding-left:5px; padding-right:5px}
.table_td_subject3 {padding-top:8px; padding-bottom:5px; text-align:center}
.table_td_contents {padding-left:6px;padding-right:6px}
.table_td_contents2 {padding-top:8px; padding-bottom:5px; background-color:#ffffff}
.table_td_contents2_app {padding-top:8px; padding-bottom:5px; background-color:#FDF1F2}
.table_td_contents3 {padding-left:6px; padding-top:4px}
.table_td_split {width:1px}
.table_td_split2 {width:1px; background-color:#eaeaea}
.innertable {padding-top:1px; padding-bottom:5px}
.space {height:15px}
.paddingleft5 {padding-left:5px}
.disable {color:#A4A4A4}


/* FORM */
.select {font-family:arial; font-size:8pt; color:#505050; height:18px}
.input_text {height:18px; background-color:#f7f7f7; border:1px solid #aeaeae; font-family:dotum; font-size:9pt; color:#505050}
.inputSearch_text {height:20px; background-color:#f7f7f7; border:1px solid #aeaeae; font-family:dotum; font-size:9pt; color:#505050}
.icon_search {margin-left:-1px}
.right {text-align:right}
.input_text2 {height:18px; background-color:#f2f4f6; border:1px solid #aeaeae; font-family:dotum; font-size:9pt; color:#7da0b6}

/*  */
.txt_blue {font-size:9pt; font-family:돋움; font-weight:; color:#096bad; letter-spacing:-1px; padding-top:4px}
.name_blue {font-size:9pt; font-family:돋움; font-weight:bold; color:#096bad; letter-spacing:-1px; padding-top:4px}
.input_text_none {height:16px; background-color:#ffffff; border:0px; font-family:dotum; font-size:9pt; color:#505050; text-align:center}

/* index_ex */
.body_01 {margin-top:0px; margin-left:0px; margin-bottom:0px; margin-right:0px; background-image:url(/images/FR/index_ex_img_01.gif); background-repeat:repeat-x}


/* Mypage */
.table_td_subject9 {background-color:#dbeaf7; font-weight:bold; padding-left:10px; height:25px; padding-top:4px}
.table_td_contents4 {padding-right:10px; padding-top:4px; text-align:right; font-weight:bold; font-family:dotum; font-size:9pt; color:#017cb9}
.table_td_contents5 {text-align:right; font-weight:bold; font-family:dotum; font-size:9pt; color:#017cb9}
.space2 {height:5px}

/* Layer */
.table_td_contents6 {background-color:#f2f4f6; padding-left:10px; vertical-align: middle; font-family:dotum; font-size:9pt; color:#7da0b6;}
.table_td_contents7 {background-color:#ffffff; vertical-align: middle; text-align:left; line-height:20px}
.table_td_contents7_gray {background-color:#ffffff; vertical-align: middle; text-align:left; line-height:20px; color:#9e9e9e}
.table_td_contents8 {background-color:#ffffff; vertical-align: middle; text-align:left; line-height:20px; padding-left:8px}
.table_td_contents8_gray {background-color:#ffffff; vertical-align: middle; text-align:left; line-height:20px; padding-left:8px; color:#9e9e9e}
.table_middle_line {background-color:#edf0f4; height:1px}

/* Title */
.poptitle {font-size:18px; font-weight:bold; letter-spacing:-1px; color:#002e72; padding-top:1px; padding:0 20px 0 0;}

/* DetailView_Table */
.dv_td_subject {background-color:#dbeaf7; font-weight:bold; padding-left:20px; padding-right:20px; height:25px; padding-top:4px; text-align:left;}
.dv_td_contents {padding-left:6px;padding-right:6px; text-align:left;}
.dv_td_contents2 {padding-left:6px;padding-right:6px; text-align:left; background-color:#eff1f5;}
.dv_td_contents3 {padding-left:0px;padding-right:6px; text-align:left;}
.dv_td_line {background-color:#eaeaea; height:1px}
.dv_td_line2 {background-color:#dbdde1; height:1px}
.dv_td_line3 {background-color:#b0c2cf; height:1px}